body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1024px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
      h2 {
        font-size: 17.5px;
      }

      #map {
        width: 100%;
        height: 400px;
      }
      /* correct a bug with bootstrap */
      #map img {
        max-width: inherit;

      }
      .actions {
        margin-bottom: 1em;
      }